body {
  margin: 0 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leftCurly svg {
  stroke: #F5F5F5;
}

.center{
  display: flex;
  justify-content: center;
  
  
}

.toolbar {
  position: relative;
  max-width: 100%;
  
  /* left: 0;
  right: 0; */
}

/* .letteringTopLevel{
  display: flex;
  flex-direction: row;
  align-items: center; */
  /* justify-content: space-between; */
/* } */

.letteringContainer{
  display: flex;
  /* position: sticky; */
  flex-wrap: nowrap;
  

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');
