body {
  margin: 0 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leftCurly svg {
  stroke: #f5f5f5;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.toolbar {
  position: relative;
  max-width: 100%;
}

.letteringContainer {
  display: flex;
  flex-wrap: nowrap;
}

.coverImg {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
  top: 0;
  position: absolute;
  z-index: -12;
}

.bold {
  font-weight: 500;
  color: #ffffff;
}

.pageBodyText {
  text-align: center;
  max-width: 70%;
  margin: auto;
  font-size: 115%;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #292929;
}

.pageH1 {
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #292929;
}
.pageH3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #292929;
  font-size: 115%;
  margin-top: 0%;
}
.pageH4 {
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #292929;
  font-size: 115%;
  font-weight: 500;
}

.pageDiv {
  margin-top: 3%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");
